.carousel-container {
  width: 750px;
  height: 400px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

.carousel-image {
  height: 360px;
}
